body{
font-family: sans-serif;
font-size: 12px;
}
.cadre{
margin: 0;
border: 1px dottedgray;
margin-top: 10px;
padding: 10px;
}
#content{ 
	margin: 0px; 
	} 
#body{ 
	min-height: 400px; 
	background: #FFF; 
	overflow: auto; 
	} 
#footer{ 
	background: #FFF; 
	} 
.table1{
}
#menu{
width: 200px;
min-height: 400px;
background: #FFF;
float: left;
margin-left:0;
margin-top:10px;
overflow: auto;
}

 
.table1 th{ 
	padding: 5px; 
	background: pink; 
	border: 1px dottedgray; 
	} 
.table1 td{ 
	border:1px dottedgray; 
	padding: 5px; 
	background: white; 
	} 
.errors{ 
	color: red; 
	}